.login-container{
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.login-card{
width:100%;
max-width:400px;
padding:40px;
border-radius:12px;
background:white;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
color:black;
}

body{
  background-color: black;
}

.login-card a{
color:blue;
text-decoration:underline;
}

.login-card a:hover{
text-decoration:underline;
}
